
.cart-items{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.c-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
}


.cart-img{
    width: 80px;
    border-radius: 8%;
    margin-right: 20px;
}

.price{
    padding:0 20px;
    display: flex;
    align-items: center;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity span {
    display: flex;
    width: 40px;
    height: 30px;
    border: 1px solid rgb(2, 194, 237);
    outline: none;
    text-align: center;
    border-radius: 8%;
    margin-right: 20px;
    justify-content: space-between;
    padding-right: 10px;
}

.quantity button{
    color: white;
    background: rgb(234, 129, 129);
    cursor: pointer;
    border-radius: 8%;
    outline: none;
    height: 30px;
    padding: 0px 7px;
    font-weight: bold;
    border: none;
    margin-left: 30px;
}

.quantity button:hover{
    background: rgb(218, 112, 112);
}