.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
}

.container h2{
    font-family: "Mental Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.tour-item{
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}

.tour-item .tour-date{
    width: 12%;
}

.tour-item .tour-place{
    width: 25%;
    color: #777;
}

.tour-item .tour-spec{
    width: 53%;
    color: #777;
}

.tour-item .btn{
    width: 25%;
    background: rgba(8, 202, 250, 0.64);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}