* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.header {
    text-align: center;
    background: #777;
    color: white;
    display: block;
    padding-bottom: 20px;
}

.header ul{
    display: flex;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    justify-content: center;
    list-style-type: none;
    border-bottom: 0.1rem solid white;
    position: fixed;
    background: black;
    width: 100%;
    top: 0%;
}

.header li{
    margin: 0px 40px;
}

.header li a{
    text-decoration: none;
    color: white;
}

.header h1{
    padding:40px;
    font-size: 100px;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid white;
}

.header li button{
    position: absolute;
    margin-left: 7rem;
}



